[Unit]
Description=vomacsd KDE helper
After=vomacsd.service graphical-session.target
BindsTo=vomacsd.service
PartOf=vomacsd.service graphical-session.target

[Service]
Type=simple
ExecCondition=/usr/bin/vomacsd-kde-helper check-kde-env
ExecStart=/usr/bin/vomacsd-kde-helper serve
Restart=on-failure
RestartSec=2
